name: Publish Package to npmjs
on:
  release:
    types: [created]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
          
      - uses: actions/setup-node@v4
        with:
          node-version: "24.x"
          cache: "pnpm"
          registry-url: "https://registry.npmjs.org"
          
      - name: Install project dependencies
        run: pnpm install --frozen-lockfile

      - name: Build packages
        run: pnpm build
        
      - run: pnpm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
